                                    #ðŸ“˜ Day 7: Dictionaries & Sets

Level 1: Dictionary Basics
Q1. Create Personal Dictionary
Create a dictionary called my_info that stores:

Your name

Your age

Your city

Your favorite programming language

In [2]:
my_info = {"Name": "Marisha", "Age": 30, "City": "Delhi", "favorite programming language" : "Python" }
print(my_info)

{'Name': 'Marisha', 'Age': 30, 'City': 'Delhi', 'favorite programming language': 'Python'}

Q2. Dictionary Access & Modification
Given: student = {'name': 'Alice', 'age': 20, 'grade': 'A', 'courses': ['Math', 'Science']}

Access and print the student's name

Update age to 21

Add new key 'university' with value 'XYZ University'

Remove 'grade' from dictionary

Count how many courses student is taking

In [6]:
student = {'name': 'Alice', 'age': 20, 'grade': 'A', 'courses': ['Math', 'Science']}
print(student.get('name'))

Alice

In [11]:
student["age"] = 21
print(student)

{'name': 'Alice', 'age': 21, 'grade': 'A', 'courses': ['Math', 'Science']}

In [16]:
student["university"] = "XYZ University"
print(student)

{'name': 'Alice', 'age': 21, 'grade': 'A', 'courses': ['Math', 'Science'], 'university': 'XYZ University'}

In [21]:
del student["grade"]
print(student)

{'name': 'Alice', 'age': 21, 'courses': ['Math', 'Science'], 'university': 'XYZ University'}

In [22]:
course= len(student["courses"])
print (course)

2

 Dictionary Iteration
Create a dictionary of 5 countries and their capitals.
Write code to:

Print each country and capital

Print only countries

Print only capitals

Print in format: "Capital of {country} is {capital}"

In [26]:
countries = {
    'India': 'New Delhi',
    'USA': 'Washington D.C.',
    'Japan': 'Tokyo',
    'France': 'Paris',
    'Australia': 'Canberra'
}

for country,capital in countries.items():
    print(f"{country}: {capital}")

India: New Delhi
USA: Washington D.C.
Japan: Tokyo
France: Paris
Australia: Canberra

In [27]:
for country in countries:
    print(country)

India
USA
Japan
France
Australia

In [30]:
for capital in countries.values():
    print(capital)

New Delhi
Washington D.C.
Tokyo
Paris
Canberra

In [33]:
for country, capital in countries.items():
    print(f"Capital of {country} is {capital}")

Capital of India is New Delhi
Capital of USA is Washington D.C.
Capital of Japan is Tokyo
Capital of France is Paris
Capital of Australia is Canberra

 Create two dictionaries:
dict1 = {'a': 1, 'b': 2, 'c': 3}
dict2 = {'b': 4, 'd': 5, 'e': 6}
Merge them into one dictionary. If same key exists, keep value from dict2.

In [36]:
dict1 = {'a': 1, 'b': 2, 'c': 3}
dict2 = {'b': 4, 'd': 5, 'e': 6}
merged1 = dict2.copy()
merged1.update(dict2)
print(merged1)

{'b': 4, 'd': 5, 'e': 6}

. Dictionary Comprehension
Create dictionaries using dictionary comprehension:

Squares of numbers 1-10: {1:1, 2:4, 3:9...}

In [37]:
squares = {num: num**2 for num in range(1, 11)}
print("Squares dictionary:", squares)

Squares dictionary: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

. Set Operations
Create two sets:
set_a = {1, 2, 3, 4, 5}
set_b = {4, 5, 6, 7, 8}
Perform and print:

Union

Intersection

Difference (A - B)

Symmetric difference

Check if set_a is subset of set_b

In [38]:
set_a = {1, 2, 3, 4, 5}
set_b = {4, 5, 6, 7, 8}
# 1. Union (all elements from both sets)
union_result = set_a | set_b  # or set_a.union(set_b)
print("1. Union (A âˆª B):", union_result)
# Output: {1, 2, 3, 4, 5, 6, 7, 8}

# 2. Intersection (common elements)
intersection_result = set_a & set_b  # or set_a.intersection(set_b)
print("2. Intersection (A âˆ© B):", intersection_result)
# Output: {4, 5}

# 3. Difference (A - B: elements in A but not in B)
difference_result = set_a - set_b  # or set_a.difference(set_b)
print("3. Difference (A - B):", difference_result)
# Output: {1, 2, 3}

# 4. Symmetric Difference (elements in either set but not both)
symmetric_result = set_a ^ set_b  # or set_a.symmetric_difference(set_b)
print("4. Symmetric Difference (A Î” B):", symmetric_result)
# Output: {1, 2, 3, 6, 7, 8}

# 5. Check if set_a is subset of set_b
is_subset = set_a <= set_b  # or set_a.issubset(set_b)
print("5. Is A subset of B?", is_subset)
# Output: False

# Bonus: Check if set_a is proper subset
is_proper_subset = set_a < set_b
print("6. Is A proper subset of B?", is_proper_subset)
# Output: False

# Bonus: Check if set_b is superset of set_a
is_superset = set_b >= set_a  # or set_b.issuperset(set_a)
print("7. Is B superset of A?", is_superset)
# Output: False

1. Union (A âˆª B): {1, 2, 3, 4, 5, 6, 7, 8}
2. Intersection (A âˆ© B): {4, 5}
3. Difference (A - B): {1, 2, 3}
4. Symmetric Difference (A Î” B): {1, 2, 3, 6, 7, 8}
5. Is A subset of B? False
6. Is A proper subset of B? False
7. Is B superset of A? False

. Remove List Duplicates using Sets
Given list: [1, 2, 2, 3, 4, 4, 5, 5, 5, 6, 7, 7]
Use sets to remove duplicates and return sorted list.

In [44]:
numbers: [1, 2, 2, 3, 4, 4, 5, 5, 5, 6, 7, 7]
unique_set = set(numbers)
sorted_unique_set = sorted(unique_set)
print(sorted_unique_set)

[1, 2, 3, 4, 5, 6, 7]

Question: Basic List Manipulation
python
# Given this list:
fruits = ['apple', 'banana', 'cherry', 'date', 'elderberry']

# Perform these operations:
# 1. Add 'fig' to the end of the list
# 2. Remove 'banana' from the list
# 3. Insert 'grape' at position 2
# 4. Replace 'date' with 'dragonfruit'
# 5. Print the list in reverse order
# 6. Create a new list with only fruits that have more than 5 letters

In [46]:
fruits = ['apple', 'banana', 'cherry', 'date', 'elderberry']
fruits.append('fig')
print(fruits)

['apple', 'banana', 'cherry', 'date', 'elderberry', 'fig']

In [53]:
fruits.remove("banana")
print(fruits)

['apple', 'cherry', 'date', 'elderberry', 'fig']

In [54]:
fruits[2]= 'grape'
print(fruits)

['apple', 'cherry', 'grape', 'elderberry', 'fig']

In [55]:
fruits = ['apple', 'banana', 'cherry', 'date', 'elderberry']
fruits[3]= "dragonfruit"
print(fruits)

['apple', 'banana', 'cherry', 'dragonfruit', 'elderberry']

In [56]:
revers= fruits[:: -1]
print(revers)

['elderberry', 'dragonfruit', 'cherry', 'banana', 'apple']

In [57]:
long_fruits = [fruit for fruit in fruits if len(fruit) > 5]
print(long_fruits)

['banana', 'cherry', 'dragonfruit', 'elderberry']