                                   ##ðŸ“˜ Day 5: Functions and Modular Programming

Q 41. Write a Python function that prints:
Welcome to Python Functions

In [7]:
def welcome():
    print("Welcome to Python Functions")

welcome()

Welcome to Python Functions

Q 42. Write a function that takes your name as a parameter and prints a greeting message.

In [9]:
def greet(name):
    print("Welcome to My Era")
    
greet(neha)

Welcome to My Era

Q 43. Write a function that takes two numbers as parameters and prints their sum.

In [10]:
def sum(a,b):
    print(a+b)
    
sum(67,92)

159

Q 44. Write a function that takes a number as a parameter and prints whether it is even or odd.

In [11]:
def even_odd(n):
    if n % 2== 0:
        print("Even")
    else:
        print("Odd")
even_odd(78)

Even

Q 45. Write a function that returns the square of a given number.

In [5]:
def square(n):
    return n ** 2
print(square(7))

49

Q 46. Write a function that returns the sum of numbers from 1 to N.

In [6]:
def sum(n):
    total = 0
    for i in range(1, n+ 1):
        total += i
    return total
sum(10)

55

Q 47. Write a function that checks whether a given year is a leap year.

In [12]:
def leap_year(n):
    if n % 4== 0 and n % 400 == 0:
        print(n, "Year is Leap year")
    elif n% 100 != 0:
        print(n, "Year is Not Leap year")

leap_year(2000)

2000 Year is Leap year

Q 48. Create a function celsius_to_fahrenheit(c) that converts Celsius temperature to Fahrenheit using the formula: F = (C Ã— 9/5) + 32

In [19]:
def celsius_to_fahrenheit(C):
     F= (C * 9/5) + 32
     return F
    
celsius_to_fahrenheit(78)

172.4

Q 49. Create a function count_vowels(text) that counts how many vowels (a, e, i, o, u) are in a given string.

In [29]:
def vowels(text):
    vowels= "aeiouAEIOU"
    count = 0
    for char in text:
        if char in vowels:
            count += 1
    return count
vowels("Marisha Dwivedi")

6

Q 50. Write a function that takes a string and returns the string in reverse order.

In [31]:
def reverse(text):
    text= text[::-1]
    return text
reverse("Marisha Dwivedi")

'ideviwD ahsiraM'