# ðŸ“˜ Day 6: Lists & List Operations

Q 51. Create Basic Lists
# Create these lists:
fruits = []          # Your 5 favorite fruits
numbers = []         # First 10 even numbers
mixed = []           # Mix of strings, integers, floats
nested = []          # List containing other lists
empty = []           # Empty list

In [4]:
fruits= ["Mango", "Apple", "Banana", "Lichi", "Papaya"]
numbers = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
mixed = ["Python", 10, 3.14, "AI", 7.5]
nested = [ ["Apple", "Banana"],[1, 2, 3],[2.5, 5.5]]
empty = []
print(fruits)
print(numbers)
print(mixed)
print(nested)
print(empty)

['Mango', 'Apple', 'Banana', 'Lichi', 'Papaya']
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
['Python', 10, 3.14, 'AI', 7.5]
[['Apple', 'Banana'], [1, 2, 3], [2.5, 5.5]]
[]

Q 52. List Indexing Practice
Given: colors = ['red', 'green', 'blue', 'yellow', 'purple', 'orange']

Get first element

Get last element

Get every other element

Get elements from index 2 to 4

Get elements in reverse order

In [5]:
colors = ['red', 'green', 'blue', 'yellow', 'purple', 'orange']
print(colors[0])
print(colors[-1])
print(colors[2: 5])
print(colors[::-1])

red
orange
['blue', 'yellow', 'purple']
['orange', 'purple', 'yellow', 'blue', 'green', 'red']

Q 53. List Slicing Challenges
Given: numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Get first 5 elements

Get last 3 elements

Get elements from index 3 to 7

Get every 2nd element

Get all elements except first and last

Get reverse of the list

In [15]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print(numbers[0:6])
print(numbers[-3: ])
print(numbers[3:7])
print(numbers[::2])
print(numbers[1:-1])

print(numbers[::-1])

[0, 1, 2, 3, 4, 5]
[7, 8, 9]
[3, 4, 5, 6]
[0, 2, 4, 6, 8]
[1, 2, 3, 4, 5, 6, 7, 8]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

Q 54. List Modification
Start with: animals = ['cat', 'dog', 'bird']

Add 'fish' to the end

Add 'rabbit' at position 1

Replace 'dog' with 'hamster'

Remove 'bird'

Clear the entire list

In [24]:
animals = ['cat', 'dog', 'bird']
animals.append('fish')
print(animals)

['cat', 'dog', 'bird', 'fish']

In [25]:
animals[0] = 'rabbit'
print(animals)

['rabbit', 'dog', 'bird', 'fish']

In [26]:
animals[1] = 'hamster'
print(animals)

['rabbit', 'hamster', 'bird', 'fish']

In [30]:
animals.remove('bird')
print(animals)

['rabbit', 'hamster', 'fish']

In [33]:
animals.clear()
print(animals)

[]

Q 55. List Concatenation & Repetition
python
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = ['a', 'b', 'c']
Combine list1 and list2

Combine all three lists

Repeat list1 three times

Add single element to list1

In [34]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = ['a', 'b', 'c']
print(list1 + list2)
print(list1 + list2 + list3)
print(list1 * 3)
print(sum(list1))

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 'a', 'b', 'c']
[1, 2, 3, 1, 2, 3, 1, 2, 3]
6

In [ ]:
Q 56. Nested List Access
python
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
Get element at row 1, column 2 (5)

Get entire second row


Change 8 to 88

Add new row [10, 11, 12]

In [40]:
matrix = [[1, 2, 3],[4, 5, 6],[7, 8, 9]]
print(matrix[1][1])
print(matrix[1])

5
[4, 5, 6]

In [41]:
matrix[2][1]= 88
print(matrix)

[[1, 2, 3], [4, 5, 6], [7, 88, 9]]

In [43]:
matrix.append([10, 11, 12])
print(matrix)

[[1, 2, 3], [4, 5, 6], [7, 88, 9], [10, 11, 12]]

Q 57. List Filtering
Given: numbers = [15, 23, 8, 42, 4, 16, 31, 19, 7, 55]

Extract numbers greater than 20

Extract even numbers

Extract numbers between 10 and 30

In [46]:
numbers = [15, 23, 8, 42, 4, 16, 31, 19, 7, 55]
num1= [num for num in numbers if num > 20]
print(num1)

[23, 42, 31, 55]

In [47]:
even_numbers= [num for num in numbers if num % 2== 0]
print(even_numbers)

[8, 42, 4, 16]

In [48]:
num3= [num for num in numbers if 10 <=  num  <= 30]
print(num3)

[15, 23, 16, 19]

Q 58. 10. List Transformation
Given: words = ['HELLO', 'world', 'PYTHON', 'programming', 'LIST']

Convert all to lowercase

Convert all to uppercase

Capitalize first letter of each

Get first 3 letters of each word

In [53]:
words = ['HELLO', 'world', 'PYTHON', 'programming', 'LIST']
lower_words= [word.lower() for word in words]
print(lower_words)

['hello', 'world', 'python', 'programming', 'list']

In [54]:
upper_words = [word.upper() for word in words]
print(upper_words)

['HELLO', 'WORLD', 'PYTHON', 'PROGRAMMING', 'LIST']

In [56]:
words = ['hELLO', 'world', 'pYTHON', 'programming', 'LIST']
captalize_words= [word.capitalize() for word in words]
print(captalize_words)

['Hello', 'World', 'Python', 'Programming', 'List']

In [57]:
letters= [word[:3] for word in words]
print(letters)

['hEL', 'wor', 'pYT', 'pro', 'LIS']

Q 59. 13. List Merging & Deduplication
python
list_a = [1, 2, 3, 4, 5]
list_b = [4, 5, 6, 7, 8]
list_c = [7, 8, 9, 10]
Merge all lists with duplicates

Merge without duplicates

Find common elements in all three

In [58]:
list_a = [1, 2, 3, 4, 5]
list_b = [4, 5, 6, 7, 8]
list_c = [7, 8, 9, 10]
merge = [list_a + list_b + list_c]
print(merge)

[[1, 2, 3, 4, 5, 4, 5, 6, 7, 8, 7, 8, 9, 10]]

In [59]:
merged_list = list(set(list_a + list_b + list_c))
print(merged_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [63]:
list_a = [1, 2, 3, 4, 5]
list_b = [4, 5, 6, 7, 8]
list_c = [7, 8, 9, 10]

common_elements = list(set(list_a) & set(list_b) & set(list_c))

print(common_elements)

[]

Q 60. 11. Matrix Operations
python
A = [[1, 2], [3, 4]]
B = [[5, 6], [7, 8]]
Add matrices A and B

Transpose matrix A (swap rows and columns)

Multiply matrix by scalar (multiply all elements by 2)

In [64]:
A = [[1, 2], [3, 4]]
B = [[5, 6], [7, 8]]
addition = [
    [A[i][j] + B[i][j] for j in range(len(A[0]))]
    for i in range(len(A))
]

print("Matrix Addition:", addition)

Matrix Addition: [[6, 8], [10, 12]]

In [65]:
transpose_A = [
    [A[j][i] for j in range(len(A))]
    for i in range(len(A[0]))
]

print("Transpose of A:", transpose_A)

Transpose of A: [[1, 3], [2, 4]]

In [66]:
scalar_multiply = [
    [element * 2 for element in row]
    for row in A
]

print("Matrix A multiplied by 2:", scalar_multiply)

Matrix A multiplied by 2: [[2, 4], [6, 8]]