# ðŸ“˜ Day 12: Tuples & Sets

âœ… Q1. What is a tuple in Python?

## A tuple is an ordered collection of elements that cannot be changed (immutable).

In [1]:
t = (1, 2, 3)
print(t)

(1, 2, 3)

âœ… Q2. Create a tuple of 5 fruits

In [2]:
fruits = ("apple", "banana", "mango", "orange", "grapes")
print(fruits)

('apple', 'banana', 'mango', 'orange', 'grapes')

âœ… Q3. Access the first and last element of a tuple

In [3]:
numbers = (10, 20, 30, 40, 50)
print(numbers[0])
print(numbers[-1])

10
50

âœ… Q4. Check if an element exists in a tuple

In [4]:
t = (1, 2, 3, 4)

if 3 in t:
    print("Element found")
else:
    print("Element not found")

Element found

âœ… Q5. Convert a tuple into a list

In [5]:
t = (5, 10, 15)
lst = list(t)
print(lst)

[5, 10, 15]

âœ… Q6. Convert a list into a tuple

In [6]:
lst = [1, 2, 3]
t = tuple(lst)
print(t)

(1, 2, 3)

âœ… Q7. What is a set in Python?

## A set is an unordered collection of unique elements.

In [9]:
s = {1, 2, 3}
print(s)

{1, 2, 3}

âœ… Q8. Create a set and add a new element

In [10]:
s = {1, 2, 3}
s.add(4)
print(s)

{1, 2, 3, 4}

âœ… Q9. Remove duplicate elements from a list using a set

In [11]:
numbers = [1, 2, 2, 3, 4, 4, 5]
unique_numbers = list(set(numbers))
print(unique_numbers)

[1, 2, 3, 4, 5]

âœ… Q10. Find the union of two sets

In [12]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

result = set1 | set2
print(result)

{1, 2, 3, 4, 5}