# ðŸ ðŸ’¡ Day 11 â€“ Different Type Questions

1ï¸âƒ£ Swap two numbers (without third variable)
â“ Question:

Swap two numbers without using extra variable.

In [5]:
a= 6
b= 9
a, b= b, a
print(a)
print(b)

9
6

2ï¸âƒ£ Count how many times a character appears
â“ Question:

Count how many times letter 'a' appears in a string.

In [8]:
text = "banana"
count = 0
for char in text:
    if char == "a":
        count += 1

print(count)

3

â“ Question:

Remove all spaces from a sentence.

In [9]:
text= "I Love India"
text_new= text.replace(" ", "")
print(text_new)

ILoveIndia

 4ï¸âƒ£ Find second largest number

â“ Question:

Find second largest number in list.

In [13]:
a= [1,2,3,4,5,16,7]
a.sort()
print(a[-2])

7

5ï¸âƒ£ Check if string is palindrome

â“ Question:

Check whether a string is palindrome.

In [14]:
text = input("Enter word: ")

if text == text[::-1]:
    print("Palindrome")
else:
    print("Not Palindrome")

Enter word:  "Delhi is Capital of India"

Not Palindrome

6ï¸âƒ£ Find factorial of a number

â“ Question:

Find factorial using loop.

In [17]:
num = int(input("Enter number: "))
fact = 1

for i in range(1, num + 1):
    fact *= i

print("Factorial:", fact)

Enter number:  5

Factorial: 120

7ï¸âƒ£ Find common elements in two lists

â“ Question:

Find common numbers from two lists.

In [20]:
a= [2,5,7,8,9,10]
b= [8,5, 10, 1, 3]
for num in a:
    if num in b:
        print(num)

5
8
10

 8ï¸âƒ£ Convert Celsius to Fahrenheit
â“ Question:

Convert temperature.

In [24]:
Celsius= float(input("Enter a temrature:"))
Fahrenheit= Celsius * 9/5 + 32
print(Fahrenheit)

Enter a temrature: 52

125.6

9ï¸âƒ£ Count words in sentence

â“ Question:

Count total words in sentence.

In [25]:
text = input("Enter sentence: ")
words = text.split()

print("Total words:", len(words))

Enter sentence:  "I am Marisha"

Total words: 3

ðŸ”Ÿ Print only positive numbers from list

â“ Question:

Print positive numbers.

In [26]:
numbers = [-5, 10, -3, 8, 0]

for num in numbers:
    if num > 0:
        print(num)

10
8