# üìò Day 14 ‚Äì Python Practice

1Ô∏è‚É£ Check Armstrong Number
‚ùì Question:

Check whether a number is an Armstrong number.

In [1]:
num = int(input("Enter number: "))
original = num
result = 0

while num > 0:
    digit = num % 10
    result += digit ** 3
    num = num // 10

if original == result:
    print("Armstrong number")
else:
    print("Not Armstrong number")

Enter number:  679

Not Armstrong number

2Ô∏è‚É£ Find Minimum in List (Without min())
‚ùì Question:

Find smallest number in list without using min().

In [2]:
numbers = [45, 12, 78, 3, 25]

smallest = numbers[0]

for num in numbers:
    if num < smallest:
        smallest = num

print("Smallest:", smallest)

Smallest: 3

3Ô∏è‚É£ Count Uppercase and Lowercase Letters
‚ùì Question:

Count uppercase and lowercase letters in string.

In [3]:
text = input("Enter text: ")
upper = 0
lower = 0

for ch in text:
    if ch.isupper():
        upper += 1
    elif ch.islower():
        lower += 1

print("Uppercase:", upper)
print("Lowercase:", lower)

Enter text:  Marisha dwivedi

Uppercase: 1
Lowercase: 13

4Ô∏è‚É£ Print Fibonacci Series
‚ùì Question:

Print first 10 Fibonacci numbers.

In [4]:
a = 0
b = 1

for i in range(10):
    print(a)
    a, b = b, a + b

0
1
1
2
3
5
8
13
21
34

5Ô∏è‚É£ Remove Duplicates from List
‚ùì Question:

Remove duplicate values.

In [5]:
numbers = [1, 2, 2, 3, 4, 4, 5]
unique = []

for num in numbers:
    if num not in unique:
        unique.append(num)

print(unique)

[1, 2, 3, 4, 5]

6Ô∏è‚É£ Find Length of String (Without len())
‚ùì Question:

Find length manually.

In [6]:
text = "Python"
count = 0

for _ in text:
    count += 1

print("Length:", count)

Length: 6

7Ô∏è‚É£ Check Leap Year
‚ùì Question:

Check if year is leap year.

In [7]:
year = int(input("Enter year: "))

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print("Leap Year")
else:
    print("Not Leap Year")

Enter year:  2000

Leap Year

8Ô∏è‚É£ Sort List Without sort()
‚ùì Question:

Sort list manually.

In [8]:
numbers = [5, 2, 8, 1, 3]

for i in range(len(numbers)):
    for j in range(i + 1, len(numbers)):
        if numbers[i] > numbers[j]:
            numbers[i], numbers[j] = numbers[j], numbers[i]

print(numbers)

[1, 2, 3, 5, 8]

9Ô∏è‚É£ Count Frequency of Element
‚ùì Question:

Count how many times 5 appears.

In [10]:
numbers = [5, 1, 5, 3, 5, 2]

count = 0
for num in numbers:
    if num == 5:
        count += 1

print("Frequency of 5:", count)

Frequency of 5: 3

üîü Find Sum of Digits
‚ùì Question:

Find sum of digits in number.

In [11]:
num = int(input("Enter number: "))
total = 0

while num > 0:
    digit = num % 10
    total += digit
    num = num // 10

print("Sum of digits:", total)

Enter number:  67

Sum of digits: 13